<%-include('header');%>

<body>
    <div class="box" id="heading">
        <h1><%=list_title%></h1>
    </div>
    <div class="box">
       
        
<form action="/delete" method="post">
    <% newListItems.forEach(function(newListItem){ %>
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=newListItem._id%>" onchange="this.form.submit()">
            <p><%= newListItem.name%></p>
        </div>
   <% })%>
   <input type="hidden" name="listname" value="<%= list_title %>"></input>

</form>
           
           
            
     <form class="item" action="/" method="post">
        <input type="text" name="addeditem" placeholder="NEW ITEM" autocomplete="off">
        <button type="submit" name="list" value=<%=list_title %>>+ </button>
       </form>
     
    </div>
   
   

    
    
</body>
<%-include('footer');%> 


